In [ ]:
#1. Write a code to reverse a string

string = "hello"
string[::-1]

'olleh'

In [ ]:
# 2. Write a code to count the number of vowels in a string.

string = "manasvi"
string
count = 0
vowels = "aeiouAEIOU"
for j in vowels:
  for i in string:
    if j == i:
      count = count+1
count

3

In [ ]:
# 3.Write a code to check if a given string is a palindrome or not
string = 'abbac'

if string == string[::-1]:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [ ]:
#4.Write a code to check if two given strings are anagrams of each other
string1 = "listen"
string2 = "silent"
if sorted(string1) == sorted(string2):
  print("Anagrams")

Anagrams

In [ ]:
#4.Write a code to check if two given strings are anagrams of each other
substring = "dog"
string = "maydogdog"
occurences = []
start = 0
while True :
  start = string.find(substring,start)
  if start == -1:
    break
  occurences.append(start)
  start = start + 1
occurences

[3, 6]

In [ ]:
#6.Write a code to perform basic string compression using the counts of repeated characters
string = "aaabccc"
count=1
result=[]
for i in range(1,len(string)):
  if string[i-1] == string[i]:
    count = count+1
  else:
    result.append(string[i-1]+ str(count))
    count = 1
result.append(string[-1]+ str(count))
k = "".join(result)
print(k)

a3b1c3

In [ ]:
#7. Write a code to determine if a string has all unique characters
def has_unique_characters(string):
    # Create a set to track seen characters
    seen = set()

    # Iterate over each character in the string
    for char in string:
        # If the character is already in the set, it's not unique
        if char in seen:
            return False
        # Add the character to the set
        seen.add(char)

    # If no duplicates were found, all characters are unique
    return True

# Example usage:
string1 = "abcde"
if has_unique_characters(string1):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string has all unique characters.

In [ ]:
#8.Write a code to convert a given string to uppercase or lowercase

string = "Manasvi"
uppercase = input("Enter 1 for uppercase and 0 for lowercase: ").strip()

if uppercase == "1":
    u = string.upper()
    print(u)
elif uppercase == "0":
    l = string.lower()
    print(l)
else:
    print("Invalid input. Please enter 1 for uppercase or 0 for lowercase.")

Enter 1 for uppercase and 0 for lowercase: 0
manasvi

In [ ]:
#9.Write a code to count the number of words in a string
string = "I  am manasvi agarwal"
k = string.split()
count = len(k)
count

4

In [ ]:
# 10. Write a code to concatenate two strings without using the + operator

string1 = "hello"
string2 = "world"
concatenate = f"{string1} {string2}"
concatenate

'hello world'

In [ ]:
#11. Write a code to remove all occurrences of a specific element from a list
specific_element = 1
listo = [1,1,"lemon"]
updated_list = {i for i in listo if i != specific_element}
updated_list

{'lemon'}

In [ ]:
#12.Implement a code to find the second largest number in a given list of integers

listy = [1,5,8,5]

r_d=set(listy)
sort=sorted(r_d)
rev = sort[::-1]
second_largest = rev[1]
second_largest

5

In [ ]:
#13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

listk = [1,1,2,2]
dic = {}

for element in listk:
  if element in dic:
    dic[element] = dic[element]+1
  else:
    dic[element] = 1

dic

{1: 2, 2: 2}

In [ ]:
# 14.Write a code to reverse a list in-place without using any built-in reverse functions

listu = [1, 3, "lemon"]
start = 0
end = len(listu) - 1

while start < end:
    listu[start], listu[end] = listu[end], listu[start]
    start = start + 1
    end = end - 1

print(listu)

['lemon', 3, 1]

In [ ]:
#15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

def remove_duplicates(input_list):
    seen = set()  # Set to keep track of seen elements
    result = []    # List to store the unique elements in original order

    for item in input_list:
        if item not in seen:
            result.append(item)  # Add the item to the result list if it's not a duplicate
            seen.add(item)        # Mark the item as seen

    return result

# Example usage:
input_list = [1, 2, 3, 2, 4, 3, 5]
result = remove_duplicates(input_list)
print(result)

[1, 2, 3, 4, 5]

In [ ]:
#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not
list1 = [1, 2, 3]

# Check if the list is sorted in ascending order
if list1 == sorted(list1):
    print("Sorted in Ascending Order")
# Check if the list is sorted in descending order
elif list1 == sorted(list1, reverse=True):
    print("Sorted in Descending Order")
else:
    print("Not Sorted")

Sorted in Ascending Order

In [ ]:
#17. Write a code to merge two sorted lists into a single sorted list
list1 = [1,2,3]
list2 = [2,5]
sorted(list1 + list2)

[1, 2, 2, 3, 5]

In [ ]:
#18.Implement a code to find the intersection of two given lists
lis1 = [1,2,"apple",2]
lis2 = [3,4,"banana",2,2]
set(lis1)&set(lis2)

{2}

In [ ]:
#19. Create a code to find the union of two lists without duplicates
list1 = [1,8,9,8]
list2 = [3,3]
set(list1)|set(list2)

{1, 3, 8, 9}

In [ ]:
#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random
list1 = [1,4,7]
list2 = []
available_index = list(range(len(list1)))
while available_index:
  random_index = random.choice(available_index)
  list2.append(list1[random_index])
  available_index.remove(random_index)
list2

TypeError: 'list' object is not callable

In [ ]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
t1 = (2,5,7,7)
t2 = (1,5,6,6)
t3=set(t1)&set(t2)
tuple(t3)

(5,)

In [ ]:
#22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

s1=set(map(int,input("Enter set1 of intergers(seperated by comma)").split(',')))
s2=set(map(int,input("Enter set2 of intergers(seperated by comma)").split(',')))
print(s1)
print(s2)
intersection=s1&s2
intersection

Enter set1 of intergers(seperated by comma)9,8,6,9
Enter set2 of intergers(seperated by comma)5,7,8
{8, 9, 6}
{8, 5, 7}

{8}

In [ ]:
#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

t1 = (1 , 2 , 2)
t2 = (3 , 4 , 2)
print(t1 + t2)
tuple(set(t1) & set(t2))

(1, 2, 2, 3, 4, 2)

(2,)

In [ ]:
#24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

set1 = set(input("enter set1 of strings(comma seperated): ").split(','))
set2 = set(input("enter set2 of strings(comma seperated): ").split(','))
print(set1-set2)

enter set1 of strings(comma seperated): banana,apple
enter set2 of strings(comma seperated): apple,oranage
{'banana'}

In [ ]:
#25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices
t1= (1,2,3)
i=1
j=2

def function(t,start_index,end_index):
  return t[start_index:end_index+1]

result = function(t1,i,j)
print(result)

(2, 3)

In [ ]:
#26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
set1 = set(input("enter set1 of charachters(comma seperated): ").split(','))
set2 = set(input("enter set2 of strings(comma seperated): ").split(','))
print(set1|set2)

enter set1 of charachters(comma seperated): a,b,b
enter set2 of strings(comma seperated): c,b
{'b', 'c', 'a'}

In [ ]:
#27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking
tuple1 = tuple(map(int,input("enter tuple1 of integers(comma seperated): ").split(',')))


def function3(t1):
  maximum_value = max(t1)
  minimum_value = min(t1)
  return maximum_value,minimum_value

max_val,min_val = function3(tuple1)
print("Maximum value:",max_val,"Minimum value:",min_val)

enter tuple1 of integers(comma seperated): 3,4
Maximum value: 4 Minimum value: 3

In [ ]:
#28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of set1 and set2
union_set = set1 | set2
print("Union of set1 and set2:", union_set)

# Intersection of set1 and set2
intersection_set = set1 & set2
print("Intersection of set1 and set2:", intersection_set)

# Difference between set1 and set2
difference_set1 = set1 - set2
print("Difference of set1 and set2 (set1 - set2):", difference_set1)

# Difference between set2 and set1
difference_set2 = set2 - set1
print("Difference of set2 and set1 (set2 - set1):", difference_set2)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Difference of set1 and set2 (set1 - set2): {1, 2, 3}
Difference of set2 and set1 (set2 - set1): {8, 6, 7}

In [ ]:
#29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple
def function2(t1,x):
  count = 0
  for element in t1:
   if x == element:
    count= count+1
  return count

t1=(1,2,3,3)
x=3
print(function2(t1,x))

2

In [ ]:
#30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets
set1 = set(input("enter set1 of strings(comma seperated): ").split(','))
set2 = set(input("enter set2 of strings(comma seperated): ").split(','))
print(set1^set2)
a

enter set1 of strings(comma seperated): banana,apple
enter set2 of strings(comma seperated): apple,mango
{'banana', 'mango'}

In [ ]:
#31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

def function_list(list_of_words):
  dict = {}
  for i in list_of_words:
    if i in dict:
      dict[i] += 1
    else:
        dict[i] = 1
  return dict

list_words = ["apll","bans","apll"]
result=function_list(list_words)
print(result)

{'apll': 2, 'bans': 1}

In [ ]:
#32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

def function_dic(d1,d2):
  for key,value in d2.items():
    if key in d1:
      d1[key] += value
    else:
      d1[key] = value
  return d1

dict_1 = {"apple":1,"banana":2}
dict_2 = {"apple":1,"mango":2}
resultant_dictionary = function_dic(dict_1,dict_2)
print(resultant_dictionary)

{'apple': 2, 'banana': 2, 'mango': 2}

In [ ]:
#33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

nested_dictionary = {"fruit":{"apple":1,"banana":2},"vegetable":{"carrot":2,"spinach":3}}
nested_dictionary["fruit"]

def function_dk(di,lok):
  for key in lok:
    if key in di:
      return di[key]
    else:
      return None


keys = ["fruit","vegetable"]
value = function_dk(nested_dictionary,keys)

print(value)

{'apple': 1, 'banana': 2}

In [ ]:
#34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order
def fun_dic(d4, reverse=False):
    # Sort the dictionary by values using sorted() with a key parameter
    sorted_items = sorted(d4.items(), key=lambda item: item[1], reverse=reverse)
    # Convert the sorted items back into a dictionary
    sorted_dict = dict(sorted_items)
    return sorted_dict

# Example usage
dic = {"apple": 2, "banana": 1, "mango": 3}
sorted_dic = fun_dic(dic)  # Ascending order by default
print(sorted_dic)

# To sort in descending order:
sorted_dic_desc = fun_dic(dic, reverse=True)
print(sorted_dic_desc)

{'banana': 1, 'apple': 2, 'mango': 3}
{'mango': 3, 'apple': 2, 'banana': 1}

In [ ]:
#35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

def inverted_dictionary(di):
  dk = {}
  for key,value in di.items():
    if value in dk:
      dk[value].append(key)
    else:
      dk[value] = [key]
  return dk

inverted_dic = {"apple": 2, "banana": 1, "mango": 3,"kiwi":2}
result = inverted_dictionary(inverted_dic)
print(result)